/* =============================================================================
   Box Sizing
   Apply a natural box layout model to all elements - http://paulirish.com/2012/box-sizing-border-box-ftw/
   border-box polyfill for IE 6/7: https://github.com/Schepp/box-sizing-polyfill#readme
   ========================================================================== */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;  *behavior: url(boxsizing.htc); }


body{
  border: 5px solid #ff0066;
}

#top{
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: black;
  background-color: rgba(0,0,0,0.8);
  margin: -5px -5px;
  z-index: 10;
}
#top div{
  margin: 0 auto;
  width: 90%;
}
#top div h1, #logo{
  width: 130px;
  height: 23px;
  text-indent: -9001em;
  background: url('http://aayushis.in/bovine/img/bovine_wordmark.png') no-repeat;
}

#top div nav ul{
  color: #ff0066;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  position: relative;
  top: -61px;
  right: -140px;
}

#top div nav ul li{
  float:left;
  margin-right:20px;
  cursor: pointer;
}

.burger{
  display: none;
}

#contact{
  background: url('../../img/contact.png') no-repeat;
  background-size: cover;
}
#about{
  background: url('../../img/about.png') no-repeat;
  background-size: cover;
}
#approach{
  background: url('../../img/approach.png') no-repeat;
  background-size: cover;
}

.layer{
  padding:0;
  border-bottom: 10px solid black;
  height:560px;
}

h2{
  margin: 0;
}

.inner{
  width: 90%;
  margin: 0 auto;
  padding-top: 95px;
  color: white;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.inner h2{
  font-size: 2.75em;
  font-family: ClarendonBT-Bold; 
	font-weight: normal; 
	font-style: normal; 
  font-weight: bold;
}
.inner a{
  text-decoration: none;
  color: white;
}

.inner p{
  max-width: 640px;
  width: 90%;
}

#contact ul {
  display: inline;
  list-style: none;
}
#contact li {
  float:  left;
  margin-right: 20px;
}

.circle {
  width: 240px;
  height: 240px;
  background-color: white;
  background-color: rgba(255,255,255,0.44);
  border-radius: 120px;
  float: left;
}
#graze, #expel {
  margin-left: -50px;
}
.circle h3 {
  font-size: 2.375em;
  font-family: ClarendonBT-Bold; 
	font-weight: normal; 
	font-style: normal;   color: black;
  font-weight: bold;
  margin-left: 56px;
  margin-top: 70px;
  margin-bottom: 0;
}
.circle ul {
  list-style: none;
  margin-left: -36px;
  text-align: center;
}

#tyson {
  position: absolute;
  top: 1210px;
  font-size: 1.625em;
  font-family: ClarendonBT-Bold; 
	font-weight: normal; 
	font-style: normal;   font-weight: bold;
  color: #ff0066;
  width: 480px;
  right: 90px;
  line-height: 28px;
  text-align: right;
}

#work h2 {
  font-size: 2.375em;
  width: 506px;
  line-height: 37px;
  font-family: ClarendonBT-Bold; 
	font-weight: normal; 
	font-style: normal; }

#triangle {
  width: 0;
  height: 0;
  border-right: 1106px solid transparent;
  border-top: 782px solid black;
  border-left: 0 solid black;
  border-bottom: 50px solid transparent;
  position: absolute;
  z-index: -1;
  top: 1680px;
}

#work .inner a {
  color: #ff0066;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.875em;
  text-decoration: underline;
}

.portfolio{
  max-width: 90%;
  margin: 0 auto;
}

.item{
  margin-top: 10px;
}

#detail{
  position: absolute;
  background-color: #111;
  width: 100%;
  display: none;
  margin: -5px -5px;
}
#detail h1 {
    font-family: ClarendonBT-Bold;
    color: white;
    font-size: 1.5em;
}
#detail > div {
    width: 90%;
    margin: 0 auto;
    max-width: 960px;
}
#detail h2 {
    color: white;
    font-size: 1em;
}

#detail div #info{
  width: 250px;
  float: left;
}

#info span a{
  color: #FF0066;
  cursor: pointer;
}

#gallery{
  float: left;
  margin-left: 50px;
}

#gallery img{
  max-height: 400px;
}

footer div{
  float: left;
  margin-left: 5%;
}

footer{
  color: white;
  background-color: #ff0066;
  margin-top: 20px;
  padding-top: 20px;
}

footer p{
  margin: 0;
}

footer ul {
  list-style: none;
  display: inline-block;
  max-width: 570px;
  float: right;
  width: 50%;
}
footer li {
  float: left;
  margin-left: 20px;
  margin-right: 5%;
}

footer li a{
  color: white;
}

footer .mobile{
  display: none;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* Media Queries */

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {
  #contact .inner ul li{
  margin-top: 30px;
  }
  .inner li a img{
    width: 50px;
  }
  .extended{
    display: none;
  }
  #approach, #contact{
    display: none;
  }
  #work h2{
    color: #FF0066;
    font-size: 2em;
    width: 340px;
  }
  #triangle{
    display: none;
  }
  #top{
    background-color: #FF0066;
  }
  #top div nav ul{
    color: white;
    top: -181px;
    width: 80px;
  }
  #top div nav ul li{
    width: 60px;
  }
  .burger {
    bottom: 170px;
    left: 310px;
    position: relative;
    font-size: 3em;
    color:  white;
    display: block;
    cursor: pointer;
  }
  footer .extended, footer #logo{
    display: none;
  }
  footer .mobile{
    display: inline;
    width:100%;
    float: none;
    margin-top:20px;
  }
  footer .mobile li a img{
    width: 40px;
  }
  /* .burger {display: none;} */
}
@media only screen
and (min-width : 480px)
and (max-width : 1024px) {
  #triangle{
    display: none;
  }
  #work h2{
    color: #FF0066;
  }
  #top{
    background-color: #FF0066;
  }
  #top div nav ul{
    color: white;
  }
}
