/* =============================================================================
   Box Sizing
   Apply a natural box layout model to all elements - http://paulirish.com/2012/box-sizing-border-box-ftw/
   border-box polyfill for IE 6/7: https://github.com/Schepp/box-sizing-polyfill#readme
   ========================================================================== */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;  *behavior: url(boxsizing.htc); }


/* Site Styles */

body{
  border: 5px solid #ff0066;
}

/* #main{ */
/* } */

#contact{
  background: url('../../img/contact.png') no-repeat;
  background-size: cover;
}
#about{
  background: url('../../img/about.png') no-repeat;
  background-size: cover;
}
#approach{
  background: url('../../img/approach.png') no-repeat;
  background-size: cover;
}
/* #contact{ */
/*   background: url('../../img/contact.png') no-repeat; */
/*   background-size: cover; */
/* } */

.layer{
  padding:0;
  border-bottom: 10px solid black;
  height:560px;
}
/* H2's suck */
h2{
  margin: 0;
}

.inner{
  width: 960px;
  margin: 0 auto;
  padding-top: 65px;
  color: white;
  font-family: 'Univers LT Std';
}

.inner h2{
  font-size: 2.75em;
  font-family: 'Clarendon BT', serif;
  font-weight: bold;
}
.inner a{
  text-decoration: none;
  color: white;
}

.inner p{
  width: 640px;
}

#contact ul {
  display: inline;
  list-style: none;
}
#contact li {
  float:  left;
  margin-right: 20px;
}

.circle {
  width: 240px;
  height: 240px;
  background-color: white;
  background-color: rgba(255,255,255,0.44);
  border-radius: 120px;
  float: left;
}
#graze, #expel {
  margin-left: -50px;
}
.circle h3 {
  font-size: 2.375em;
  font-family: 'Clarendon BT', serif;
  color: black;
  font-weight: bold;
  margin-left: 56px;
  margin-top: 70px;
  margin-bottom: 0;
}
.circle ul {
  list-style: none;
  margin-left: -36px;
  text-align: center;
}

#tyson {
  position: absolute;
  top: 1170px;
  font-size: 1.625em;
  font-family: 'Clarendon BT', serif;
  font-weight: bold;
  color: #ff0066;
  width: 480px;
  right: 90px;
  line-height: 28px;
  text-align: right;
}
